// Override Bootstrap color system

$yellow: #EE4266;

// Override Bootstrap default state colors

$primary: #540D6E;

$secondary: #FFD23F;

$white: #ddbbff;



// Override Bootstrap yiq lightness value

$yiq-contrasted-threshold: 205;
